<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>Starbuzz咖啡</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/main2.css' %}">
    <link rel="stylesheet" href="{% static 'product/css/product1.css' %}">
  </head>
  <body>
   {% include 'main/messages.html' %}
   <div id="header">
      <img id="headerLogo"
           src="{% static 'main/img/headerLogo.gif' %}" alt="Starbuzz Coffee logo image">
      <img id="headerSlogan"
           src="{% static 'main/img/headerSlogan.gif' %}" alt="Providing all the caffeine you need to power your life.">
    </div>
    {% include 'main/menu.html' %}
    <div id="elixirs">
     <h2>Weekly Elixir Specials</h2>
     <p><a class="btn" href="{% url 'product:productCreate' %}">新增產品</a></p>
      {% for product in products %}
      <p>
        <img src="{% static 'product/img/coffee3.png' %}" alt="香草味甜奶油酿造" width="100" height="100">
      </p>
      <h3 class="inlineBlock"><a href="{% url 'product:productRead' product.id %}">{{ product.title }}</a></h3> 
      <form class="inlineBlock" method="post" action="{% url 'product:productDelete' product.id %}">
    {% csrf_token %}
    <input class="btn deleteConfirm" type="submit" value="刪除">
  </form>   
      {% endfor %}
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src={% static 'main/js/deleteConfirm1.js' %}></script>
      
  </body>
</html>