body { 
  background-color: #b5a789;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}

#header {
  background-color: #675c47;
  margin: 10px 10px 0px 10px;
  height:           108px;
}

#headerSlogan {
  float: right;
}

h1 {
  font-size:        120%;
  color:            #954b4b;
}

h2 { font-size: 110%; }

.slogan { color: #954b4b; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}



nav {
    background-color: #efe5d0;
  margin: 10px 10px 0px 10px;
}
nav ul {
  margin: 0px;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
}
nav ul li {
  display: inline;
  padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
  color: #954b4b;
  border-bottom: none;
  font-weight: bold;
}

.articleContent {
  padding: 20px;
  background-color: #b5a789;
}

.commentDiv {
  margin-top: 1em;
  border: 2px solid gray;
  border-radius: 10px;
}

.comment, .commentAuthor {
  font-size: 0.8em;
}

.commentAuthor {
  font-weight: bold;
  color: #186caf;
}

.commentTime {
  font-size: 0.6em;
  color: #777777;
}

input {
  padding: 0.4em;
  background-color:#b5a789;
}

#elixirs {
  border: 2px solid #675c47;
  width: 200px;
  padding: 0px 20px 20px 20px;
  margin-left: 20px;
  text-align: center;
  background-image: url("images/cocktail.gif");
  background-repeat: repeat-x;
  line-height: 1;
  
}

#elixirs h2 {
  color: black;
}

#elixirs h3 {
  color: #d12c47;
}

.like {
  font-weight: bold;
  color: #3e7bd1;
}

img#like {
  vertical-align: middle;
  width: 1.6em;
}

.price {
  font-weight:bold;
  font-size:110%;
  color:#954b4b;
}