<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Starbuzz咖啡</title>
   <link rel="stylesheet" href="{% static 'main/css/main2.css' %}">
  </head> 

  <body>
    <div id="header">
      <img id="headerLogo"
           src="{% static 'main/img/headerLogo.gif' %}" alt="Starbuzz Coffee logo image">
      <img id="headerSlogan"
           src="{% static 'main/img/headerSlogan.gif' %}" alt="Providing all the caffeine you need to power your life.">
    </div>
     {% include 'main/menu.html' %}
  <form method="post" action="{% url 'account:register' %}">
  {% csrf_token %}
  {{ userForm.as_p }}
  <input class="btn" type="submit" value="送出">
</form>
</body>
</html>